/* begin Box, Sheet */
.jas-sheet-tl
{
  clip: rect(auto 53px 53px auto);
}

.jas-sheet-tr
{
  clip: rect(auto auto 53px 53px);
}

.jas-sheet-bl
{
  clip: rect(53px 53px auto auto);
}

.jas-sheet-br
{
  clip: rect(53px auto auto 53px);
}

.jas-sheet-tc
{
  clip: rect(auto auto 53px auto);
}

.jas-sheet-bc
{
  clip: rect(53px auto auto auto);
}

.jas-sheet-cr
{
  clip: rect(auto auto auto 53px);
}

.jas-sheet-cl
{
  clip: rect(auto 53px auto auto);
}

.jas-sheet-body
{
  zoom: 1;
}
/* end Box, Sheet */

/* begin MenuItem */
.jas-menu a .r
{
  clip: rect(auto auto auto 400px);
}
/* end MenuItem */

/* begin Layout */
div.jas-content-layout
{
  display: block;
  zoom: 1;
  overflow: hidden;
}
/* end Layout */

/* begin Box, Block, VMenuBlock */

.jas-vmenublock-body
{
  zoom: 1;
}
/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.jas-vmenublockheader .r
{
  clip: rect(auto auto auto 1267px);
}
/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.jas-vmenublockcontent-tl
{
  clip: rect(auto 7px 7px auto);
}

.jas-vmenublockcontent-tr
{
  clip: rect(auto auto 7px 7px);
}

.jas-vmenublockcontent-bl
{
  clip: rect(7px 7px auto auto);
}

.jas-vmenublockcontent-br
{
  clip: rect(7px auto auto 7px);
}

.jas-vmenublockcontent-tc
{
  clip: rect(auto auto 7px auto);
}

.jas-vmenublockcontent-bc
{
  clip: rect(7px auto auto auto);
}

.jas-vmenublockcontent-cr
{
  clip: rect(auto auto auto 7px);
}

.jas-vmenublockcontent-cl
{
  clip: rect(auto 7px auto auto);
}

.jas-vmenublockcontent-body
{
  zoom: 1;
}
.jas-vmenublockcontent-tl
{
  clip: rect(auto 7px 7px auto);
}

.jas-vmenublockcontent-tr
{
  clip: rect(auto auto 7px 7px);
}

.jas-vmenublockcontent-bl
{
  clip: rect(7px 7px auto auto);
}

.jas-vmenublockcontent-br
{
  clip: rect(7px auto auto 7px);
}

.jas-vmenublockcontent-tc
{
  clip: rect(auto auto 7px auto);
}

.jas-vmenublockcontent-bc
{
  clip: rect(7px auto auto auto);
}

.jas-vmenublockcontent-cr
{
  clip: rect(auto auto auto 7px);
}

.jas-vmenublockcontent-cl
{
  clip: rect(auto 7px auto auto);
}

.jas-vmenublockcontent-body
{
  zoom: 1;
}
/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.jas-vmenu .jas-vmenu-separator, ul.jas-vmenu .jas-vmenu-separator-span, ul.jas-vmenu li.jas-vsubmenu-separator, ul.jas-vmenu .jas-vsubmenu-separator-span
{
  zoom: 1;
  overflow: hidden;
  float: left;
  width: 100%;
}

.jas-vmenu ul, .jas-vmenu li
{
  zoom: 1;
}

ul.jas-vmenu a .r
{
  clip: rect(auto auto auto 1300px);
}
/* end VMenuItem */

/* begin Box, Block */

.jas-block-body
{
  zoom: 1;
}
/* end Box, Block */

/* begin BlockHeader */
.jas-blockheader .r
{
  clip: rect(auto auto auto 1267px);
}
/* end BlockHeader */

/* begin Box, BlockContent */
.jas-blockcontent-tl
{
  clip: rect(auto 7px 7px auto);
}

.jas-blockcontent-tr
{
  clip: rect(auto auto 7px 7px);
}

.jas-blockcontent-bl
{
  clip: rect(7px 7px auto auto);
}

.jas-blockcontent-br
{
  clip: rect(7px auto auto 7px);
}

.jas-blockcontent-tc
{
  clip: rect(auto auto 7px auto);
}

.jas-blockcontent-bc
{
  clip: rect(7px auto auto auto);
}

.jas-blockcontent-cr
{
  clip: rect(auto auto auto 7px);
}

.jas-blockcontent-cl
{
  clip: rect(auto 7px auto auto);
}

.jas-blockcontent-body
{
  zoom: 1;
}
/* end Box, BlockContent */

/* begin Button */
.jas-button-wrapper .r
{
  clip: rect(auto auto auto 405px);
}
/* end Button */

/* begin Box, Post */
.jas-post-tl
{
  clip: rect(auto 19px 19px auto);
}

.jas-post-tr
{
  clip: rect(auto auto 19px 19px);
}

.jas-post-bl
{
  clip: rect(19px 19px auto auto);
}

.jas-post-br
{
  clip: rect(19px auto auto 19px);
}

.jas-post-tc
{
  clip: rect(auto auto 19px auto);
}

.jas-post-bc
{
  clip: rect(19px auto auto auto);
}

.jas-post-cr
{
  clip: rect(auto auto auto 19px);
}

.jas-post-cl
{
  clip: rect(auto 19px auto auto);
}

.jas-post-body
{
  zoom: 1;
}
/* end Box, Post */

/* begin PostContent */
.jas-postcontent
{
  height: 1%;
}
/* end PostContent */

/* begin Footer */
.jas-footer-r
{
  clip: rect(auto auto auto 37px);
}

/* end Footer */

/* begin LayoutCell, content */
div.jas-sidebar2
{
  width: auto;
}

div.jas-content-layout div.jas-layout-cell, div.jas-content-layout div.jas-layout-cell div.jas-content-layout div.jas-layout-cell
{
  display: block;
  overflow: hidden;
  float: left;
  clear: right;
  margin-bottom: -32000px;
  padding-bottom: 32000px;
}

div.jas-layout-cell div.jas-layout-cell
{
  float: none;
  clear: both;
  margin-bottom: 0;
  padding-bottom: 0;
}/* end LayoutCell, content */
