/* JADCID: 201012271548 */
/* begin Menu */
/* menu structure */

.jas-menu a, .jas-quicklinks a:link, .jas-quicklinks a:visited, .jas-quicklinks a:hover
{
  text-align: left;
  text-decoration: none;
  outline: none;
  letter-spacing: normal;
  word-spacing: normal;
}

.jas-quicklinks, .jas-quicklinks ul
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: block;
}

.jas-quicklinks li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background: none;
}


/* BEGIN CSS for JASGRID */
.jasgrid table {
  /*background: #aaaaaa;*/
  border: solid 1px #8F7A70;
  margin: 4px;
}
.jasgrid thead{
  /*color: #000000;
  background: #eeeeee;*/
  border: solid 1px #8F7A70;
  background-color: transparent;
  font-weight: bold;
}
.jasgrid tbody{
  /*overflow: scroll; max-height: 300px; */
  border: solid 1px #8F7A70;
  overflow: visible;
}
.jasgrid td {
  border: solid 1px #8F7A70;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  text-align: left;
}

.jasgrid img {
  float: none;
}


.r1{
  /*color: #000000;*/
  background: #988412;
}
.r1:hover{
  /*color: #000000;*/
  background: #A88724;
}

.r2{
/*  color: #000000;*/
  background: #C79D21;
}
.r2:hover{
/*  color: #000000;*/
  background: #A88724;
}
/* END CSS for JASGRID*/

