/*-- www.jegas.com - Jegas, LLC-Virtually Everything IT(TM)-Copyright(C)2011 */
/*--      _________ _______  _______  ______  _______                        */
/*--     /___  ___// _____/ / _____/ / __  / / _____/                        */
/*--        / /   / /__    / / ___  / /_/ / / /____                          */
/*--       / /   / ____/  / / /  / / __  / /____  /                          */
/*--  ____/ /   / /___   / /__/ / / / / / _____/ /                           */
/*-- /_____/   /______/ /______/ /_/ /_/ /______/                            */
/*--                                                                         */
/*-- www.jegas.com - Jegas, LLC-Virtually Everything IT(TM)-Copyright(C)2011 */
/* JASCID: 201012291038 */

/* The plan for this file is to over time lose the css tags and class names  */
/* for theming paradigm and trying to just hang on to those CSS things that  */
/* the system needs as either failsafe or in addition to JAS theme           */
/* requirements. */



.nb table th tr td  { border: none;}

/* BEGIN QUICKLINKS */

#jas-quicklinks UL LI {
  text-decoration: none;
  list-style: none;
  line-height:1em;
  display: block;
  float: left;
  /* text-align: left; */
  margin: 4px;
  padding:4px;
}

/* END QUICKLINKS */

.jas-blok-buttons LI{
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}

.quote {
  font-style: italic;
}


.jasbutspan{
  padding-left: 4px;
  position: relative;
  top: -12px;
  text-align: left;
}

.jasbigbutton {
  position: relative;
  top: -10px;
  left: 0px;
}

.jasbigbutton ul li{
  display: inline;
  text-decoration: none;
}
.jasbigbutton img{
  float:none;
  position: relative;
}

.jasbigbutton a{
  text-decoration: none;
}

/* JAS END */
/* JASCID: 201012291038 */






